@model ProductosApp.Models.Producto

@{
    ViewData["Title"] = "Catálogo de Productos";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function nuevoProducto() {
        limpiarFormulario();
        habilitarFormulario();
        document.getElementById("NoProducto").disabled = true; // No se permite cambiar NoProducto
        
        $("#btnGuardar, #btnCancelar").show();
        $("#btnNuevo").hide();
    }

    function modificarProducto() {
        habilitarFormulario();
        document.getElementById("NoProducto").disabled = true; // No se permite cambiar NoProducto
    }

    function deshabilitarFormulario() {
        document.getElementById("NoProducto").disabled = true;
        document.getElementById("NoCategoria").disabled = true;
        document.getElementById("Nombre").disabled = true;
        document.getElementById("Descripcion").disabled = true;
        document.getElementById("Stock").disabled = true;
        document.getElementById("Precio").disabled = true;
    }

    function limpiarFormulario() {
        document.getElementById("NoProducto").value = '';
        document.getElementById("NoCategoria").selectedIndex = 0;
        document.getElementById("Nombre").value = '';
        document.getElementById("Descripcion").value = '';
        document.getElementById("Stock").value = '';
        document.getElementById("Precio").value = '';
    }

    function habilitarFormulario() {
        document.getElementById("NoCategoria").disabled = false;
        document.getElementById("Nombre").disabled = false;
        document.getElementById("Descripcion").disabled = false;
        document.getElementById("Stock").disabled = false;
        document.getElementById("Precio").disabled = false;
    }

    function cancelarOperacion() {
        limpiarFormulario();
        deshabilitarFormulario();
    }


    // Al cargar la página, los inputs deben estar deshabilitados
    window.onload = function () {
        deshabilitarFormulario();
    }

    function cargarProducto(id) {
        $.ajax({
            url: '/Producto/Edit/' + id,
            type: 'GET',
            success: function (data) {
                // Cargar los datos en el formulario
                $('#NoProducto').val(data.producto.noProducto);
                $('#Nombre').val(data.producto.nombre);
                $('#Descripcion').val(data.producto.descripcion);
                $('#Stock').val(data.producto.stock);
                $('#Precio').val(data.producto.precio);
                $('#NoCategoria').val(data.producto.noCategoria);

                modificarProducto();
                $("#btnGuardar, #btnNuevo").hide();
                $("#btnEditar, #btnDeshabilitar, #btnCancelar").show();
            },
            error: function () {
                alert('Error al cargar los datos del producto.');
            }
        });
    }

    $("#btnEditar").on("click", function () {
        var formData = {
            NoProducto: $("#NoProducto").val(),
            Nombre: $("#nombreProducto").val(),
            Descripcion: $("#descripcion").val(),
            Stock: $("#Stock").val(),
            Precio: $("#precioVenta").val(),
            NoCategoria: $("#NoCategoria").val()
        };
        $.ajax({
            type: "POST",
            url: "@Url.Action("Edit", "Producto")",
            data: formData,
            success: function (response) {
                if (response.success) {
                    alert("Producto modificado con éxito");
                    location.reload();
                } else {
                    alert("Error: " + response.message);
                    console.error(response.errors);
                }
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    });


</script>


<h2>Catálogo de Productos</h2>

<form id="formProducto" asp-action="CreateOrUpdate" method="post" class="formulario">
    <div class="form-group">
        <label for="NoProducto">No Producto</label>
        <input type="text" class="form-control" id="NoProducto" name="NoProducto" value="@Model.NoProducto" asp-for="NoProducto" disabled />
    </div>
    
    <div class="form-group">
        <label for="NoCategoria">Categoría del Producto</label>
        <select class="form-control" asp-for="NoCategoria" id="NoCategoria" disabled>
            <option value="">Seleccione una categoría</option>
            @foreach (var categoria in ViewBag.Categorias)
            {
                <option value="@categoria.NoCategoria">
                    @categoria.Nombre
                </option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="Nombre">Nombre del Producto</label>
        <input type="text" class="form-control" id="Nombre" name="Nombre" value="@Model.Nombre" asp-for="Nombre" />
    </div>

    <div class="form-group">
        <label for="Descripcion">Descripción</label>
        <textarea class="form-control" id="Descripcion" name="Descripcion" asp-for="Descripcion">@Model.Descripcion</textarea>
    </div>

    <div class="form-group">
        <label for="Stock">Stock</label>
        <input type="number" class="form-control" id="Stock" name="Stock" value="@Model.Stock" asp-for="Stock" />
    </div>

    <div class="form-group">
        <label for="Precio">Precio de Venta</label>
        <input type="text" class="form-control" id="Precio" name="Precio" value="@Model.Precio" asp-for="Precio" />
    </div>

    <div class="form-group" class="formularioBotones">
        <input type="hidden" id="EsNuevo" name="EsNuevo" value="true" />
        <button type="submit" class="btn btn-primary" id="btnGuardar" style="display:none;">Guardar</button>
        <button type="button" class="btn btn-primary" id="btnEditar" style="display:none;">Guardar</button>
        <button class="btn btn-secondary" id="btnDeshabilitar" style="display:none;">Deshabilitar</button>
        <button type="button" class="btn btn-secondary" id="btnNuevo" onclick="nuevoProducto()">Nuevo</button>
        <button type="button" class="btn btn-light" id="btnCancelar" onclick="cancelarOperacion()">Cancelar</button>
    </div>
</form>

<h3>Listado de Productos</h3>
<table class="table">
    <thead>
        <tr>
            <th>NoProducto</th>
            <th>Categoría</th>
            <th>Nombre Producto</th>
            <th>Descripción</th>
            <th>Stock</th>
            <th>Precio Venta</th>
        </tr>
    </thead>
    <tbody>
        @* Aquí iría la lógica para listar productos *@
        @foreach (var producto in ViewBag.Productos)
        {
            <tr>
                <td>@producto.NoProducto</td>
                <td>@producto.Categoria.Nombre</td>
                <td>@producto.Nombre</td>
                <td>@producto.Descripcion</td>
                <td>@producto.Stock</td>
                <td>@producto.Precio</td>
                <td>
                        <button class="btn btn-primary" onclick="cargarProducto(@producto.NoProducto)">Editar</button>
                            <form id="formProducto" asp-action="Delete" asp-route-id="@producto.NoProducto" method="post" class="formulario">
                                <button class="btn btn-danger" type="submit">Eliminar</button>
                        </form>
                </td>
            </tr>
        }
    </tbody>
</table>
